<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog_post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog_post.description %>
</p>

<p>
  <b>Content:</b>
  <%= @blog_post.content %>
</p>

<p>
  <b>Published at:</b>
  <%= @blog_post.published_at %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
