.span8
  = form_for(@api_test) do |f| 
    - if @api_test.errors.any? 
      .error_explanation
        %h2
          = pluralize(@api_test.errors.count, "error")  
          prohibited this api_test from being saved:
        %ul
        - @api_test.errors.full_messages.each do |msg| 
          %li= msg 
    .field
      = f.label :auth_url 
      %br
      = f.text_area :auth_url 
    .field
      = f.label :auth_headers 
      %br
      = f.text_area :auth_headers 
    .field
      = f.label :auth_body 
      %br
    .field  
      = f.text_area :auth_body 
      %br
    .field
      = f.text_area :request_url
  
    .actions
      = f.submit 
  
 
